.lg-pager{
    margin:5px auto;
    font: 12px Tahoma,Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,sans-serif;
    overflow:hidden;
    height: 50px;
    text-align: right;
    ul{
        display: inline-block;
    }
    li{
        float: left;
        list-style: none;
    }
}
.lg-pager-left{
    text-align: left;
}
.lg-pager-center{
    text-align: center;
}

.lg-pager-item{
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    background-color: #fff;
    margin: 2px 3px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}

.lg-pager-item:hover{
    border-color:  #5986E1;
} 
.lg-pager-item.disable a{ 
    color: #a3a3a3;  
}
.lg-pager-item.disable a:after,.lg-pager-item.disable a:before{ 
    color: #a3a3a3;  
    border-left-color:#a3a3a3;
}
.lg-pager-item.disable:hover{  
    border-color:  #dfdfdf;  
} 

.lg-pager-item a{
    display: inline-block;
    text-align: center;
    color: #666;
    height: 28px;
    min-width: 28px;
    line-height: 28px;
    padding:0 5px;
    text-decoration: none;
}
 

.lg-pager-current{
    background: #5986E1;
    border-color:  #5986E1;
    a{
        color: #fff;
    }
}

 
.lg-pager-item-large a{
    padding: 0px 4px;
}

.lg-pager-previous a:before{
    content: ''; 
    display: inline-block;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:7px solid #666;
    border-right:none; 
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.lg-pager-next a:after{
    content: '';
    display: inline-block;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:7px solid #666;
    border-right:none;
}

.lg-pager-current a, .lg-pager-point a{
    cursor: default;
}

.lg-pager-shortcut{
    height: 24px;
    color: #a3a3a3;
    padding: 5px;
}

.lg-pager-shortcut input,.lg-pager-shortcut select{
    height: 24px;
    width: 38px;
    padding: 0px;
    outline: none;
    text-align: center;
    margin: 0px;
    border-radius: 3px;
    border: 1px solid #a3a3a3;
    box-size:border-box;
}
.lg-pager-shortcut select{
    padding:0 3px;
    width:auto;
    margin:0 5px;
}

.lg-pager-shortcut-confirm{
    border-radius: 3px;
    background:  #5986E1;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #fff;
    width: 50px;
    height: 24px;
    line-height: 24px;
    margin:0 5px;
}
.lg-pager-dot{
    border:none;
}